version: 2
updates:
  - package-ecosystem: "gradle" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    groups:
      kotlin-plugins:
        patterns:
            - "org.jetbrains.kotlin:*"
        update-types:
          - "minor"
          - "patch"
